[credential]
	helper = "!f() { /home/hs/.vscode-server/bin/af28b32d7e553898b2a91af498b1fb666fdebe0c/node /tmp/vscode-remote-containers-147aa83f-6c38-457c-a2d9-f0e22a06818d.js git-credential-helper $*; }; f"
