[credential]
	helper = "!f() { /home/hs/.vscode-server/bin/6c3e3dba23e8fadc360aed75ce363ba185c49794/node /tmp/vscode-remote-containers-1673a94e-4ddd-4771-a587-c71ca7c79bb4.js git-credential-helper $*; }; f"
